<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OpiClass - Prototype of Opinion Spam Detection System</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/static/css/freelancer.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">OpiClass</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#howto">HOW TO USE</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#detection">OPINION SPAM DETECTION</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">ABOUT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead bg-primary text-secondary text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="/static/img/profile.png" alt="">
        <h1 class="mb-0">OpiClass</h1>
        <hr class="star-dark">
        <h2 class="font-weight-hard mb-0">Detecting Opinion Spams Through Web Analysis And Beyond</h2>
      </div>
    </header>


    <!-- How To Use Section -->
    <section class="text-secondary mb-0" id="howto">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary">How To Use</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-lg-9 mx-auto">
            <p class="lead">1. <b>Choose</b> the application that you want to check its opinions from <a href="https://play.google.com/store/apps" target="_blank"><b>Google Play store website</b></a>.</p>
            <p class="lead">2. Copy the <b>URL</b> of the Android application download page.</p>
            <p class="lead">   <h6><i>Example URL: https://play.google.com/store/apps/details?id=com.android.chrome</i></h6></p>
            <p class="lead">3. Open OpiClass and navigate to the <q><b>Spam Detection</b></q> section.</p>
            <p class="lead">4. Paste the <b>URL</b> of the download page copied earlier.</p>
            <p class="lead">5. Hit the <q><b>Get Em!</b></q> button.</p>
            <p class="lead">6. Wait for the system to <b>process</b> the request. May take up to 10-15 minutes.</p>
            <p class="lead">7. View the <b>results</b> when it is ready.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Detection Grid Section -->
    <section class="bg-primary portfolio" id="detection">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Opinion Spam Detection</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#portfolio-modal-1">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="/static/img/portfolio/playstore.png" alt="">
            </a>
          </div>
          <div class="col-lg-8 rounded bg-white mx-auto">
            <form action="/processing" method="POST" name="sendURL" id="urlForm" novalidate="novalidate">
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>URL</label>
                  <textarea class="form-control" name="url" rows="2" placeholder="Please enter the valid URL here." required="required" data-validation-required-message="Please enter a URL of a Google Play store application download page."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <br>
              <div id="success"></div>
              <div class="form-group">
                <button type="submit" class="btn btn-info btn-xl" id="sendMessageButton">Get Em!</button>
              </div>
            </form>
          </div>
        </div>
        </hr>
      </div>
    </section>


    <!-- How To Use Section -->
    <section class="text-secondary mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary">About</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-lg-6 ml-auto">
            <p class="lead">The phenomenon of opinion spamming raises concerns in the opinion mining domain whose job it is to detect and filter any review spams. Some of the early approaches used in detecting opinion spams were based on manual judgements but this has become outdated because manual judgements are unreliable. The situation has become more dangerous and unpredictable as more and more opinion spams seem to be emerging, making comments about the respective mobile applications. Thus, an automated approach is needed to detection spam opinions.</p>
          </div>
          <div class="col-lg-6 ml-auto">
            <p class="lead">OpiClass is a prototype development of a web-based opinion spam detection system. It is developed to fulfill the requirement of the candidate master's degree. This prototype adopts a supervised boosting model that uses statistical-based features to detect opinion spams. Currently, the prototype only features the detection of opinion spams for Malay language opinions from Google Play store.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Location</h4>
            <p class="lead mb-0">Kuala Lumpur
              <br>Malaysia</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Around the Net</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://github.com/hazimhanif" target="_blank">
                  <i class="fa fa-fw fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://twitter.com/hazimfrodo" target="_blank">
                  <i class="fa fa-fw fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.linkedin.com/in/hazimhanif" target="_blank">
                  <i class="fa fa-fw fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://hazimio.com" target="_blank">
                  <i class="fa fa-fw fa-globe"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">Quote</h4> 
            <p class="lead mb-0">Data will talk to you if you're willing to listen</p>
            <p class="lead mb-0">-<i>Jim Bergeson</i>-</p>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy;OpiClass 2018</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Portfolio Modals -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal mfp-hide" id="portfolio-modal-1">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">Google Play Store</h2>
              <hr class="star-dark mb-5">
              <img class="img-fluid mb-5" src="/static/img/portfolio/playstore.png" alt="">
              <p class="mb-5">Google Play store is a mobile application marketplace that hosts applications, games, books and movies for Android operating system. Currently there are 3,574,910 Android applications in the Google Play store and the number is increasing rapidly over time.</p>
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                Close</a>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/static/js/freelancer.min.js"></script>

  </body>

</html>
